@layer defaults, pages, nav, forms;

@layer defaults {
  :root {
    /* variables for font size, font family, colors, spacing */
  }
  * {
    box-sizing: border-box;
    font-weight: 300;
  }
  html,
  body {
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
  }
  code,
  pre {
    font-family: monospace;
  }
  h1,
  h2,
  h3 {
    font-family: serif;
  }
}

@layer pages {
  header {
    min-height: 4rem;
    background-color: hsl(30, 70%, 70%);

    h1 {
      font-size: 2rem;
      margin: 0;
      padding: 1rem 2rem;
    }
  }
  .page {
    position: absolute;
    inset: calc(6rem + 2rem + 2px) 0 auto 0;
    padding: 1rem 2rem;
    opacity: 0; /* default appearance of every page. */
    z-index: 1;
    transition: opacity 0.4s linear;
  }
  .page.current {
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
  [data-page='apple'] .page.apple,
  [data-page='banana'] .page.banana,
  [data-page='carrot'] .page.carrot {
    /* alternative to .page.current */
    /* data-page could be an id or classname */
    opacity: 1;
    z-index: 100;

    @starting-style {
      opacity: 0;
    }
  }
}

@layer nav {
  nav.main-nav {
    min-height: 2rem;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: hsl(30, 80%, 90%);
    margin: 0;
    padding-inline: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;

    a {
      color: hsl(30, 80%, 40%);
      font-size: 1.5rem;
      padding-block: 0.25rem;
    }
  }
}

@layer forms {
  fieldset {
    padding: 1rem;
  }
  .formBox {
    margin-block: 2rem;
  }
  textarea {
    height: 10lh;
    width: 40rem;
  }
  form button {
    background-color: hsl(30, 80%, 40%);
    color: hsl(30, 80%, 90%);
    border: none;
    padding: 0.25rem 2rem;
    font-size: 1rem;
  }
}
